<h1>Bonjour,<%= saverEmail %></h1>

<h4>Votre proche <%= userFullName %> a activé une fonctionnalité qui vous alerte s'il ne donne plus de nouvelles</h4>

<h3>Veuillez prendre de ses nouvelles SVP, merci</h4>